* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Mono", monospace;
  color: #f5f5f5;
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

#app {
  padding: 1.2rem;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 768px;
  margin: auto;

  .game-container {
    padding: 1rem;
    border-radius: 1.5rem;
    background: #141414;
    width: 98vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .title-container {
      text-align: center;
      border-bottom: 1px solid #3a3a3c;
      width: 100%;
      h1 {
        letter-spacing: 1rem;
      }
    }

    .message-container {
      p {
        background-color: #185adb;
        color: #fff;
        padding: 0.5rem 0.8rem;
        border-radius: 4px;
        /* font-weight: 600; */
        font-size: 1.2rem;
      }
    }

    .tile-container {
      display: flex;
      flex-direction: column;
      gap: 0.3rem;

      .tile-row {
        display: flex;
        gap: 0.3rem;
      }

      .tile {
        width: 62px;
        height: 62px;
        border: 2px solid #3a3a3c;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        will-change: transform;

        &.flip {
          animation: flip 0.5s linear;
        }

        &.grey-overlay {
          background-color: #444444 !important;
          border: none !important;
        }

        &.green-overlay {
          background-color: #4ea742 !important;
          border: none !important;
        }

        &.yellow-overlay {
          background-color: #d4b424 !important;
          border: none !important;
        }

        @keyframes flip {
          0% {
            transform: rotateY(0deg);
          }

          50% {
            transform: rotateY(90deg);
          }

          100% {
            transform: rotateY(0deg);
          }
        }
      }
    }

    .key-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.3rem;

      .key-row {
        display: flex;
        justify-content: center;
        gap: 0.3rem;

        &:nth-child(2) {
          margin: 0 30px;
        }
        &:nth-child(3) {
          margin: 0 60px;
        }
        &:nth-child(4) {
          margin: 0 90px;
        }

        button {
          flex: 1;
          padding: 0.5rem;
          border: none;
          border-radius: 4px;
          font-size: 1.2rem;
          background-color: rgb(34, 34, 34);
          color: #fff;
          font-family: "Roboto Mono", monospace;

          &:active {
            background-color: rgb(27, 27, 27);
            transform: translateY(2px);
          }

          &.grey-overlay {
            background-color: #444444 !important;
            border: none !important;
          }

          &.green-overlay {
            background-color: #4ea742 !important;
            border: none !important;
          }

          &.yellow-overlay {
            background-color: #d4b424 !important;
            border: none !important;
          }

          //   &#ENTER{
          //       background-color: #4ea742;
          //   }

          //   &#BACK{
          //       background-color: tomato;
          //   }
        }
      }
    }
  }
}
